.input-icon,
.excel-icon {
    width: $size-ml;
    height: $size-ml;
    margin: 0;
    padding: 0;
}

.pdf-icon {
    width: $size-l;
    height: $size-l;
}

// nudge the SVG down to center of button
.pdf-icon,
.excel-icon {
    position: relative;
    top: 2px;
}

.data-form {
    width: 100%;
    background-color: $white;
    padding: $size-l;
    box-shadow: $shadow-light;

    input {
        color: $gray;
        transition: box-shadow .2s ease-out;

        &:focus {
            box-shadow: $shadow-input;
        }
    }

    input::placeholder {
        color: $light-gray;
    }

    @include media(phone) {
        padding: $size-m;
    }
}

.data-form__flexible-input-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    gap: $size-s;

    @include default-input;
}

.full-width {
    width: 100%;
    margin-top: $size-s;
}

.data-form__full-input-container {
    display: relative;
    @include default-input;
}

textarea {
    color: $gray;
    height: 15rem;
    padding: 2rem;
    font-size: inherit;
    border: 1px solid $very-light-gray;
    outline: none;
    transition: box-shadow .2s ease-out;

    &::placeholder {
        color: $light-gray;
    }

    &:focus {
        box-shadow: $shadow-input;
    }
}



#checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $size-m 0;

    div {
        display: flex;
        align-items: center;
    }

    // sliderrevolution.com/resources/css-checkbox/
    input[type="checkbox"] {
        position: relative;
        width: $size-ml;
        height: $size-ml;
        color: $gray;
        border: 1px solid $light-gray;
        box-shadow: none !important;
        border-radius: 4px;
        appearance: none;
        outline: 0;
        cursor: pointer;
        transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 2px;
          left: 7px;
          width: 8px;
          height: 14px;
          border-style: solid;
          border-color: $white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          opacity: 0;
        }
        &:disabled {
            border: 1px solid $very-light-gray;
            cursor: default;
        }
        &:checked {
          color: $white;
          border-color: $color-primary;
          background: $color-primary;
          &::before {
            opacity: 1;
          }
          ~ label::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;
        font-size: $font-size-md;
        padding: 0 0.25em 0;
        margin-left: $size-xs;
        user-select: none;
        &::before {
          position: absolute;
          content: attr(data-content);
          color: $light-gray;
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          text-decoration: line-through;
          text-decoration-thickness: 3px;
          text-decoration-color: $gray;
          transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
}

// gray out the label when the checkbox is disabled
#checkbox-container input[type="checkbox"]:disabled + label {
    color: $very-light-gray;
    cursor: default;
}

// custom checkboxes
.check-container {
    display: block;
    position: relative;
    cursor: pointer;

    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    // stretch clear button
    & > div {
        display: flex;
        align-items: stretch;
    }

    button {
        color: $white;
        padding: $size-s $size-ml;
        font-size: inherit;
        border: none;
        outline: none;
    }

    .btn-clear {
        background-color: $white;
        border: 1px solid $very-light-gray;
        color: $gray;
        transition: all .2s ease-out;

        &:hover {
            background-color: $off-white;
        }
    }

    .btn-secondary {
        background-color: $color-secondary;
        transition: background-color .2s ease-out;
        margin-right: $size-xs;

        &:hover {
            background-color: lighten($color-secondary, 8%);
        }
    }

    .btn-pdf {
        background-color: $color-pdf;
        transition: background-color .2s ease-out;
        padding: $size-xs $size-m;
        margin-right: $size-xs;

        &:hover {
            background-color: lighten($color-pdf, 8%);
        }
    }
    .btn-excel {
        background-color: $color-excel;
        transition: background-color .2s ease-out;
        padding: $size-xs $size-m;

        &:hover {
            background-color: lighten($color-excel, 8%);
        }
    }
}

.submit-container {
    display: flex;
    align-items: stretch;
}
