.editor-container {
    background-color: $white;
    box-shadow: $shadow-light;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#editor-toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar-segment {
    display: inline-block;
}

// hide color selection when screen is too small
.toolbar-color-selection {
    @include media(sm-phone) {
        display: none !important;
    }
}

.quill-controls {
    flex-grow: 1;
}

.quill {
    flex-grow: 1;
    // set the font size dynamically, based on the
    // size passed to the style of the editor
    font-size: var(--editor-font-size) !important;
}

.ql-editor {
    padding: $size-l !important;
}

// remove default borders
.ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 3px solid $color-cream !important;
}
.ql-container.ql-snow {
    border: none !important;
    // inherit the fontSize from .quill, so I can
    // control the font from the passed in style prop
    font-size: inherit !important;
}

.ql-view {
    width: auto !important;

    span {
        display: flex;
        align-items: center;
        color: $color-tertiary;
        font-size: $font-size-sm;
    }
}

.view-container {
    width: auto;
}

// svg inside of button
.text-size-icon,
.copy-icon {
    // fill: $color-primary;
    position: relative;
    height: $size-ml;
    width: $size-ml;
}

// move icons a little when pressed
.text-size-up:active,
.copy-icon:active {
    bottom: 2px;
}

.text-size-down:active {
    top: 2px;
}

// copied icon for animation
.copy-container {
    position: relative;
}

.copied-icon {
    position: absolute;
    height: $size-ml;
    width: $size-ml;
    top: -4rem;
    left: .5rem;
    pointer-events: none;
    opacity: 0;
}
.font-size-display {
    position: absolute;
    color: $color-tertiary;
    width: 20rem;
    top: -4rem;
    left: -10rem;
    pointer-events: none;
    opacity: 0;
}
.clipboard-icon {
    width: 100%;
    height: 100%;
    fill: $color-secondary;
}

.copied-icon--animate,
.font-size-display--animate {
    animation-name: fadeInOut;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

// reset styles for links
.ql-toolbar .ql-stroke {
    stroke: $color-primary !important;
    fill: none;

    &:hover {
        stroke: lighten($color-primary, 10%) !important;
    }
}
.ql-toolbar .ql-fill {
    fill: $color-tertiary !important;
    stroke: none;

    &:hover {
        fill: lighten($color-tertiary, 10%) !important;
    }
}
#editor-toolbar {
    button {
        color: $color-primary;

        &:hover {
            color: lighten($color-primary, 10%);
        }

        & strong {
            color: $color-secondary;
        }
    }
}