.output-container {
    width: 100%;
    background-color: $white;
    padding: $size-l;
    box-shadow: $shadow-light;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: $size-m;

    h1 {
        font-size: $font-size-lg;
    }
    h2 {
        font-size: $font-size-md;
        color: $color-tertiary;
    }
}

.logo-container {
    img {
        width: 30rem;
        margin-bottom: 1rem;
    }
}

.account-info-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: $size-s;
}

.table-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: $size-s;

    @include media(phone) {
        padding: $size-m;
    }
}

// print settings
//////////////////////////

@media print {
    .output-container {
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .output-container,
    .table-container {
        display: block;
    }

    .table-container {
        width: fit-content;
        margin: 0 auto;
    }

    .output-table {
        margin: $size-m auto 0 auto;
    }
}

@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
}

@page {
size: auto;
margin: 2rem;
}
