@page {
    size: 8.5in 11in;
    margin: .25in;
}

@media print {
    // for all pages
    .app-header {
        display: none !important;
    }
    .content-container {
        .credit-container {
            display: none;
        }
        .demand-container {
            margin: 0;
            padding: 0
        }
    }
}